---
layout: default
---
<div class="logo">
  <a href="/">
    <img src="/images/rails-logo.svg" width="130" height="46" alt="Ruby on Rails">
  </a>
</div>

<div class="select__wrapper" id="language-list">
  <div class="language__item active">
    Language
  </div>

  <div class="language__items">
    <div class="language__item">
      <a href="/doctrine">English</a>
    </div>
    <div class="language__item">
      <a href="ru">Russian</a>
    </div>
  </div>
</div>

{{ content }}

<section>
  <a class="help__translate" href="https://github.com/rails/homepage" target="_blank">Help translate doctrine into another language!</a>
</section>

<section>
  <p class="back">
    <a href="/">&larr; Back to homepage</a>
  </p>
</section>

<script src="/lib/language_switcher.js"></script>
